## 问题描述

为了研究人体的心肺功能，对31个成年男子测量了肺活量(OXY)，并且记录了他们的年龄(age)、体重(weight)，以及简单训练后的测试数据：跑1.5英里的时间(time)、休息时的脉搏(spulse)、跑步时的脉搏(rpulse)和跑步时记录的最大脉搏(mpulse)，共7项指标。

1. 分别绘制OXY与time和age的散布图，从图中可得出什么结论？
2. 绘制7项指标的散布图简陋，从这里能不能直接看出一些结论；
3. 绘制序号为1, 2, 21, 22的4个人的轮廓图和雷达图；
4. 绘制序号为1, 2, 21, 22的4个人的调和曲线图（放在同一张图上）。

In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rcParams

# 支持中文字体
rcParams['font.sans-serif'] = ['SimHei']
rcParams['axes.unicode_minus'] = False

# 读取文件
file_path = 'Data/OXY.csv'
data = pd.read_csv(file_path)
data.head()

   序号  age  weight   time  spulse  rpulse  mpulse     OXY
0   1   57   73.37  12.63      58     174     176  39.407
1   2   54   79.38  11.17      62     156     165  46.080
2   3   52   76.32   9.63      48     164     166  45.441
3   4   50   70.87   8.92      48     146     155  54.625
4   5   51   67.25  11.08      48     172     172  45.118

#### 1.分别绘制OXY与time和age的散布图，从图中可得出什么结论？